@using Microsoft.AspNet.Identity
@using StoreFront.DATA.EF
@if (Request.IsAuthenticated)
{
    StoreFrontEntities db = new StoreFrontEntities();

    string userID = User.Identity.GetUserId();

    //UserDetail currentUser = db.UserDetails.Where(ud => ud.UserID == userID).FirstOrDefault();
    //string userFN = User.Identity.GetUserName();

    //if (currentUser != null)
    //{
    //    userFN = currentUser.FirstName;
    //}

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()


        @*<li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Manage")">Hey </a>
        </li>*@
        
        <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Logoff</a></li>

    }
}
else
{

    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Register", "Account")">Sign Up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Login", "Account")">Login</a>
    </li>

}